/* background color */
body {
    background-color: #0f4c81;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: beige;
}

/* haeder elements */
#header {
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
    
}

/* left sections */
#qAndA{
    margin: auto;
    width: 75%;
    float: center;  
}

/* update font-size of question */
#question{
    font-size: x-large;
}

/* add hover color change to answers */
li:hover{
    background-color: lightgrey;
    border-color: lightgrey;
}

/* add  style changes to answer list*/
li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    background-color: rgb(32, 30, 30);
    border: solid;
    border-radius: 3px;
    border-color:  rgb(32, 30, 30);
}